<template name="book">
  <div class="col-4">
    <div class="card" style="width: 20rem;">
      <img class="card-img-top" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22318%22%20height%3D%22180%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20318%20180%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_15e3f2e2173%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A16pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_15e3f2e2173%22%3E%3Crect%20width%3D%22318%22%20height%3D%22180%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22117.015625%22%20y%3D%2297.2%22%3E318x180%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" alt="Card image cap">
      <div class="card-body">
        <a href="{{pathFor '/books/:bookId' bookId=_id}}/"><h4 class="card-title">{{ title}} {{#if sameUser}}<a href="#" class="delete">&times;</a>{{/if}}</h4></a>

      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">37 บาท ( 5 บาท + EMS 32 บาท )</li>
        <li class="list-group-item">25 บาท ( 5 บาท + Regular 20 บาท )</li>
        <li class="list-group-item"><button href="#" class="btn {{#if donate}}btn-danger donated disabled{{else}}btn-primary donate{{/if}}">{{ donateNow }}</button></li>

      </ul>
    </div>
  </div>
</template>

<template name="newBook">
  <!-- <h1>Book List ({{ bookCount }})</h1> -->
  {{#if currentUser}}
  <form class="new-book">
    <label>Name :</label>
    <input type="text" name="title" placeholder="Enter book name" /><br>
    <label>Description :</label><br>
    <textarea name="description" rows="8" cols="80" placeholder="Enter description ..."></textarea>
    <br>
    <input type="submit">
  </form>
  {{/if}}
</template>


<template name="bookDetail">
  <h1>{{book.title}}</h1>
  <p>{{book.donateNow}}</p>
</template>
