<template name="register">
  {{#if currentUser}}
  You're logged in!
  {{else}}
  <form>
    <div class="form-group">
      <label for="exampleInputEmail1">Username</label>
      <input type="text" class="form-control" name="registerUsername" placeholder="Enter username">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" class="form-control" name="registerPassword" placeholder="Password">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Confirm Password</label>
      <input type="password" class="form-control" name="registerPasswordConfirm" placeholder="Password">
    </div>
    <button type="submit" class="btn btn-primary">Register</button>
  </form>
  {{/if}}
</template>
